<nav class="navbar navbar-expand-lg navbar-light exclucv-navigation">
  <a class="navbar-brand" href="#">
    <img class="logo" src="../../../assets/logo2.png" />
  </a>
  <button
    class="navbar-toggler border-0 collapsed position-relative"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span> </span>
    <span> </span>
    <span> </span>
  </button>

  <div class="collapse navbar-collapse navigation" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Apply<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Preview Template
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/home/all">My Template</a>
          <a class="dropdown-item" href="#">Popular</a>
          <a class="dropdown-item" href="#">Best Practices</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/create"
          >Manage Template<span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item login-item">
        <a class="nav-link" (click)="logOut()"> Log out </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
