<div class="responsive-table" style="padding-top: 5%;">
    <table>
        <tbody>
            <tr>
                <th>CV Number</th>
                <th>Created At</th>
                <th>Version</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let cv of cvs">
                <td>{{cv.id}}</td>
                <td>{{cv.dateOfCreation}}</td>
                <td>v1.0</td>
                <td>
                    <span class="action edit material-icons">
                        edit
                    </span>
                    <span class="action preview material-icons" (click)="preview(cv.id)">
                        open_in_new
                    </span>
                    <span class="action delete material-icons" (click)="deleteCv(cv.id)">
                        delete_forever
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <table mat-table [dataSource]="cvs" class="mat-elevation-z8">


    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>CV Number</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Created At</th>
        <td mat-cell *matCellDef="let element"> {{element.dateOfCreation}} </td>
    </ng-container>

    <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td>
            <div class="d-flex">
                <div>
                    <span class="action delete material-icons" *matCellDef="let element" (click)="deleteCv(element.id)">
                        delete_forever
                    </span>
                </div>
                <div>
                    <span class="action preview material-icons" *matCellDef="let element" (click)="preview(element.id)">
                        open_in_new
                    </span>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> -->