<div class="m-auto" class="templates-tab main">
  <app-profile-image></app-profile-image>

  <form
    [formGroup]="mainInformationForm"
    #userPost="ngForm"
    (ngSubmit)="onSubmit(userPost.value)"
  >
    <div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width" style="width: 100%">
            <mat-label>First name</mat-label>
            <input
              placeholder="ex. Marshall"
              matInput
              formControlName="FirstName"
              [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }"
            />
            <mat-error *ngIf="submitted && f.FirstName.errors">
              <div *ngIf="f.FirstName.errors.required">
                First name is required
              </div>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width" style="width: 100%">
            <mat-label>Middle name</mat-label>
            <input
              placeholder="ex. Bruce"
              matInput
              formControlName="MiddleName"
            />
          </mat-form-field>
        </div>

        <div class="form-group col-md-4">
          <mat-form-field class="example-full-width" style="width: 100%">
            <mat-label>Last name</mat-label>
            <input
              placeholder="ex. Mathers"
              matInput
              formControlName="LastName"
              [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }"
            />
            <mat-error *ngIf="submitted && f.LastName.errors">
              <div *ngIf="f.LastName.errors.required">
                Last name is required
              </div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width" style="width: 100%">
            <mat-label>Country</mat-label>
            <input
              placeholder="ex. Bulgaria"
              matInput
              formControlName="Country"
              [ngClass]="{ 'is-invalid': submitted && f.Country.errors }"
            />
            <mat-error *ngIf="submitted && f.Country.errors">
              <div *ngIf="f.Country.errors.required">Country is required</div>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width" style="width: 100%">
            <mat-label>Town</mat-label>
            <input
              placeholder="ex. Sofia"
              matInput
              formControlName="Town"
              [ngClass]="{
                'is-invalid': submitted && f.Town.errors
              }"
            />
            <mat-error *ngIf="submitted && f.Town.errors">
              <div *ngIf="f.Town.errors.required">Town is required</div>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="form-group">
        <mat-form-field class="example-full-width" style="width: 100%">
          <mat-label>Summary</mat-label>
          <textarea
            matInput
            placeholder="Say something good about yourself."
            formControlName="Summary"
            rows="5"
            [ngClass]="{ 'is-invalid': submitted && f.Summary.errors }"
          ></textarea>
          <mat-error
            *ngIf="submitted && f.Summary.errors"
            class="invalid-feedback"
          >
            <div *ngIf="f.Summary.errors.required">Summary is required</div>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group btn-group">
      <div class="form-group col-md-12">
        <button class="submit-btn" mat-stroked-button color="primary">
          Save
        </button>
        <button class="delete-btn" mat-stroked-button color="primary">
          Delete
        </button>
      </div>
    </div>
  </form>
</div>
