.upload {
    font-weight: bold;
    color: green;
    margin-left: 15px;
    line-height: 36px;
}

img{
    cursor: pointer;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 3em;
}